html {
  scroll-behavior: smooth; /* makes all moving in the page scroll rather than jump*/
}

/* NAVIGATION BAR */
.nav-bar { /* fix the nav bar center right on screen */
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Should always be at the front*/
}
.nav-button { /* turn the hyperlinks into white buttons */
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.nav-button img {
  filter: invert(100%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transition: linear .07s;
}
.nav-button img:hover {
  transform: scale(3)
}
.nav-button-shaded {
  filter: invert(70%);
}


body {
  background: rgb(28,29,47);
  background: linear-gradient(180deg, rgba(28,29,47,1) 0%, rgba(14,14,52,1) 35%, rgba(50,60,71,1) 94%, rgba(94,94,94,1) 100%);
  background-color: #0a0d1b;
  margin: 0% auto; /* remove empty space around content */
  -ms-overflow-style: none; /* hides scrollbar, IE & Edge */
  scrollbar-width: none; /* hides scrollbar Firefox */
  text-align: center;
  color:white;
}
body::-webkit-scrollbar { /* hides scrollbar Chrome */
  display: none;
}


.centered {
  text-align: center;
}

.support-text {
  font-size: 30px;
}

h1 {
  color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  letter-spacing: 0.5em;
  font-size: 4em;
}
h2 {
  color: lemonchiffon;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  letter-spacing: 0.2em;
  font-size: 3em;
  padding: 5%;
}
p {
  color: lightgrey;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 2em;
}

input {
  color: #0a0d1b;
}

/* Add hover option for buttons */
.buttons {
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 0px;
  cursor: pointer;

}

.buttons:hover {
  color: rgb(28,29,47);
  background-color: white;
}

#submit {
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 0px;
  cursor: pointer;
}

#submit:hover {
  color: rgb(28,29,47);
  background-color: white;

}

.mini-profile {
  display: inline-block;
  text-align: right;
  margin-top: 4px;
  font-size: 25px;
  padding-right: 20px;
  color: lightyellow;
}

.constellation-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.constellation-text{
  margin-top: 10px;
}

.fading-img {
  transition: 500ms;
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin-top: 5%;
}

.hover-me {
  font-size: 20px;
  color: lemonchiffon;
}

.quiz-question {
  font-size: 30px;
  text-align: right;
  padding: 30px;
}

#aqr-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_AQR_001.png");
}
#aqr-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_AQR_000.png");
}
#cru-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CRU_001.png");
}
#cru-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CRU_000.png");
}
#cen-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CEN_001.png");
}
#cen-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CEN_000.png");
}
#lup-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_LUP_001.png");
}
#lup-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_LUP_000.png");
}
#sgr-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_SGR_001.png");
}
#sgr-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_SGR_000.png");
}
#sco-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_SCO_001.png");
}
#sco-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_SCO_000.png");
}
#car-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CAR_001.png");
}
#car-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CAR_000.png");
}
#vel-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_VEL_001.png");
}
#vel-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_VEL_000.png");
}
#pup-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_PUP_001.png");
}
#pup-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_PUP_000.png");
}
#ori-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_ORI_001.png");
}
#ori-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_ORI_000.png");
}
#cma-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CMA_001.png");
}
#cma-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CMA_000.png");
}
#tau-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_TAU_001.png");
}
#tau-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_TAU_000.png");
}


#intro {
  height: 100vh;
  text-align: center;
  padding: 40vh 0%;
}
#section-intro {
  opacity: 0;
}
#section-crux {
  opacity: 0;
}
#section-aquarius {
  opacity: 0;
}
#section-orion-canis-major-taurus {
  opacity: 0;
}
#section-centaurus-lupus {
  opacity: 0;
}
#section-sagittarius-scorpius {
  opacity: 0;
}
#section-argo-navis {
  opacity: 0;
}