html {
  scroll-behavior: smooth; /* makes all moving in the page scroll rather than jump*/
}

.nav-bar { /* fix the nav bar center right on screen */
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-button { /* turn the hyperlinks into white buttons */
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: 100ms linear;
}
.nav-button:hover { /* turn the hyperlinks into white buttons */
  color: grey;
}

body {
  background: rgb(28,29,47);
  background: linear-gradient(180deg, rgba(28,29,47,1) 0%, rgba(14,14,52,1) 35%, rgba(50,60,71,1) 94%, rgba(94,94,94,1) 100%);
  background-color: #0a0d1b;
  margin: 0% auto; /* remove empty space around content */
  -ms-overflow-style: none; /* hides scrollbar, IE & Edge */
  scrollbar-width: none; /* hides scrollbar Firefox */
  text-align: center;
  color:white;
}
body::-webkit-scrollbar { /* hides scrollbar Chrome */
  display: none;
}


.page-title {
  height: 100vh;
  text-align: center;
  padding: 40vh 0%;
}


.centered {
  text-align: center;
}

h1 {
  color: hotpink;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  letter-spacing: 0.5em;
  font-size: 4em;
}
h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  letter-spacing: 0.2em;
  font-size: 3em;
  padding: 5%;
}
p {
  color: lightgrey;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 3em;
}

.constellation-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fading-img {
  transition: 500ms;
  height: 50vh;
  width: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin-top: 5%;
}


#aqr-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_AQR_001.png");
}
#aqr-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_AQR_000.png");
}
#cru-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CRU_001.png");
}
#cru-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CRU_000.png");
}
#cen-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CEN_001.png");
}
#cen-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CEN_000.png");
}
#lup-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_LUP_001.png");
}
#lup-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_LUP_000.png");
}
#sgr-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_SGR_001.png");
}
#sgr-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_SGR_000.png");
}
#sco-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_SCO_001.png");
}
#sco-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_SCO_000.png");
}
#car-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_CAR_001.png");
}
#car-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_CAR_000.png");
}
#vel-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_VEL_001.png");
}
#vel-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_VEL_000.png");
}
#ori-img {
  background-image: url("https://in-the-sky.org/images/constellations/con_ORI_001.png");
}
#ori-img:hover {
  background-image: url("https://in-the-sky.org/images/constellations/con_ORI_000.png");
}


