<!DOCTYPE html>

<html>
<head>
    <title>Constellation Quiz</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!--Custom CSS designed by group-->
    <link rel="stylesheet" href="style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

</head>

<body>
    <div class="nav-bar">
        <table>
            <tr><td><a href="#intro" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section1" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section2" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section3" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section4" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section5" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#quiz" class="nav-button">&#11044;</a></td></tr>
        </table>
    </div>
    <div class="introduction" id="intro">
        <!-- This can be added later if needed. Commenting out for now, working with simplistic gradient background. -K -->
        <!-- <img id="intro-img" src="https://live.staticflickr.com/4282/35548026236_8a5314bdcd_h.jpg" alt="The Milky Way in WA"> -->
        <div class="page-title"> <!-- Class Centered was broken here.-->
            <h1>Constellation Quiz</h1>
            <p>This is the introduction. Scroll down to see more. Find some placeholders below.</p>
        </div>
    </div>
    <div class="overview" id="section1">
        <div class="centered">
            <h1>
                CRUX | CENTAURUS | LUPUS
            </h1>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="cru-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <h2>
                    Crux
                </h2>
                <p>
                    Despite being the smallest of the 88 modern constellations, the Southern Cross is one of the most recognisable of the Southern Hemisphere, appearing on the flags of Australia, New Zealand, Brazil, Samoa and Papua New Guinea.
                    <br><br>
                    Crux was visible to the Ancient Greeks, who considered it to be part of the Centaurus constellation
                    <br><br>
                    The Southern Cross has a stunning number of cultural interpretations, including:
                    a cross, a possum sitting in a tree, thse head of the emu in the sky,
                    the sky deity mirrabooka, a stingray, an eagle, a trident, an eagle's talon,
                    a raking hut, a granary, an incomplete house, an anchor, a duck, a triggerfish,
                    a knee protector, a net, a fish, stairs, angry bees, four trees, and two giraffes.
                    These interpretations are from African, Australian Aboriginal, South-East Asian,
                    Pacific Islander and South American cultures.
                    <br><br>
                    <!-- Crux is easy to spot: the hallmark stars have an apparent visual magnitude above +2.8, and it is pointed to by two stars in Centaurus: Alpha Centuari and Beta Centuari. -->
                    Crux is located in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +20° and -90°.
                </p>
            </div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <h2>
                    Centaurus
                </h2>
                <p>
                    Centaurus was first depicted by Babylonians as Bison-man, associated with
                    the Sun God Utu-Samash, then by the Greeks as a Centaur. According to Roman poet Ovid, the constellation honours Chiron, a tutor to many Greek heroes, including Heracles, Theseus and Jason.
                    <br><br>
                    One of the largest constellations in the sky, centaurus is home to Alpha
                    Centuari and Beta Centuari, which make a triple star system with Proxima Centuari.
                    Alpha Centuari is the third brightest star in the sky, and the closest star
                    system to our sun.
                    <br><br>
                    Centaurus is the 9th largest constellation in the sky. It lies in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +25° and -90°.
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="cen-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="lup-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <h2>
                    Lupus
                </h2>
                <p>
                    In ancient times, Lupus (Latin for 'wolf') was considered to be the an animal being hunted or killed by centaurus. Although ancient, it has no mythological assosication.
                    <br><br>
                    In 1006 AD, within Lupus, the supernova SN 1006 occurred. This is brightest stellar event in recorded history, and would have been clearly visible during daytime.
                    <br><br>
                    Lupus is the 46th constellation in size. It is located in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +35° and -90°.
                </p>
            </div>
        </div>
    </div>
    <div class="overview" id="section2">
        <h1>
            <div class="centered">
                SAGITTARIUS | SCORPIUS
            </div>
        </h1>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <h2>
                    Sagittarius
                </h2>
                <p>
                    Sagittarius, Latin for 'archer' and one of the 12 Zodiac, was first identified by the Babylonians, and adopted by the Greeks. It is conflicted whether it is Chiron, tutor of Jason, or Crotus, the inventor of archery. The bow of the constellation stands poised towards the star Antares, the heart of Scorpius, if Scorpius should ever attack Hercules.
                    <br><br>
                    On August 15, 1977, the Big Ear radio telescope observed a strong narrowband radio signal. Known as the 'Wow!' signal, it was used to support the search for extraterrestrial intelligence, and remains the strongest candidate for an alien radio transmissed ever detected.
                    <br><br>
                    Sagittarius is near the densest spot of the Milky Way, the galactic center. Because of this, Sagittarius is home to many star clusters and nebulae.
                    <br><br>
                    Sagittarius is the 15th largest constellation in the sky. It is located in the fourth quadrant of the southern hemisphere (SQ4) and can be seen at latitudes between +55° and -90°
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="sgr-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="sco-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <h2>
                    Scorpius
                </h2>
                <p>
                    In Greek myth, Scorpius is the scorpion sent to kill Orion the hunter, and is a reminder for mortals to be mindful of their hubris.
                    <br><br>
                    The scorpion is also recognised in Oceanic cultures: The Javanese of Indonesia recognise it as 'Banyakangrem' - 'the brooded sawn' or 'Kalapa Doyong' - 'leaning coconut tree'; In Hawaii it is the demigod Maui's fishhook - 'Ka Makau Nui o Māui' - 'the Big Fishhook of Māui'.
                    <br><br>
                    Scorpius is the 33rd constellation in size. It lies in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +40° and -90°.
                </p>
            </div>
        </div>
    </div>
    <div class="overview" id="section3">
        <div class="centered">
            <h1>
                CARINA | VELA | PUPPIS | VOLANS
            </h1>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <p>
                    Carina
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="car-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="vel-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <p>
                    Vela
                </p>
            </div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <p>
                    Puppis
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="pup-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="vol-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <p>
                    Volans
                </p>
            </div>
        </div>
    </div>
    <div class="overview" id="section4">
        <div class="centered">
            <h1>
                CANIS MAJOR | LEPUS
            </h1>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <p>
                    Canis Major
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="cma-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="lep-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <p>
                    Lepus
                </p>
            </div>
        </div>
    </div>
    <div class="overview" id="section5">
        <div class="centered">
            <h1>
                ORION | TAURUS
            </h1>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="leftText">
                <p>
                    Orion
                </p>
            </div>
        </div>
        <div class="half">
            <div class="fading-img" id="ori-img"></div>
        </div>
    </div>
    <div class="constellation">
        <div class="half">
            <div class="fading-img" id="tau-img"></div>
        </div>
        <div class="half">
            <div class="rightText">
                <p>
                    Taurus
                </p>
            </div>
        </div>
    </div>
    <div class="quiz" id="quiz">
        <div class="quiz-title">
            <h1>
                QUIZ
            </h1>
        </div>
        <div class="question">
            <p>
                Here will be the quiz
            </p>
        </div>
            <form>
                <label for="q1">Question 1:</label><br>
                <input type="text" id="q1" name="q1" value="Enter Answer Here"><br>
                <label for="q2">Questions 2:</label><br>
                <input type="text" id="q2" name="q2" value="Enter Answer Here"><br>
                <label for="q1">Question 3:</label><br>
                <input type="text" id="q3" name="q3" value="Enter Answer Here"><br>
                <label for="q2">Questions 4:</label><br>
                <input type="text" id="q4" name="q4" value="Enter Answer Here"><br>
                <label for="q1">Question 5:</label><br>
                <input type="text" id="q5" name="q5" value="Enter Answer Here"><br>
                <label for="q1">Question 6:</label><br>
                <input type="text" id="q6" name="q6" value="Enter Answer Here"><br>
                <label for="q2">Questions 7:</label><br>
                <input type="text" id="q7" name="q7" value="Enter Answer Here"><br>
                <label for="q1">Question 8:</label><br>
                <input type="text" id="q8" name="q8" value="Enter Answer Here"><br>
                <label for="q2">Questions 9:</label><br>
                <input type="text" id="q9" name="q9" value="Enter Answer Here"><br>
                <label for="q1">Question 10:</label><br>
                <input type="text" id="q10" name="q10" value="Enter Answer Here"><br><br>
                <input type="submit" value="Submit Answers">
            </form>


    </div>
</body>
</html>