<!DOCTYPE html>

<html lang="en">
<head>
    <title>Constellation Quiz</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!--Custom CSS designed by group-->
    <!--use below for testing html w/o flask-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!--use below for flask-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Our script file -->
    <script src="{{ url_for('static', filename='constellation.js') }}"></script>

    <!-- Prefetch hover images for a better user experience-->
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_TAU_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_CMA_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_ORI_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_PUP_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_VEL_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_CAR_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_SCO_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_SGR_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_LUP_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_CEN_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_CRU_000.png">
    <link rel="preload" as="image" href="https://in-the-sky.org/images/constellations/con_AQU_000.png">

</head>

<body>
    <!-- login section -->
    <div style="font-size:larger">
        <!-- STYLE THE BUTTONS LATER-->
        {% if current_user.is_anonymous %}
        <a href="/login"><button id="login-register" class="buttons" style="margin-top: 20px;">LOGIN / REGISTER  <span class="glyphicon glyphicon-log-in"></span></button></a>
        {% else %}
        <div class="row">
            <div class="col-sm-12">
                <p class="mini-profile" style="margin: auto;">Hi, {{ current_user.username }}!</p>
                <span>
                    <span>
                        <a href="{{ url_for('user', username=current_user.username) }}"><button class="buttons" style="margin-top: 20px;">PROFILE  <span class="glyphicon glyphicon-user"></span></button></a>
                        <a href="/logout"><button class="buttons" style="margin-top: 20px;">LOGOUT  <span class="glyphicon glyphicon-log-out"></span></button></a></span>
                </span>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- navigation and progress icons -->
    <div class="nav-bar">
        <table>
            <tr><td><a href="#intro" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Virgo.png" class="nav-icon" alt="crux" id="intro-nav"></a></td></tr>
            <tr><td><a href="#cru" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Crux.png" class="nav-icon" alt="crux" id="crux-nav"></a></td></tr>
            <tr><td><a href="#aqr" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Aquarius.png" class="nav-icon" alt="crux" id="aquarius-nav"></a></td></tr>
            <tr><td><a href="#ori-cma-tau" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Orion.png" class="nav-icon" alt="crux" id="orion-canis-major-taurus-nav"></a></td></tr>
            <tr><td><a href="#cen-lup" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Lupus.png" class="nav-icon" alt="crux" id="centaurus-lupus-nav"></a></td></tr>
            <tr><td><a href="#sgr-sco" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/Sagittarius.png" class="nav-icon" alt="crux" id="sagittarius-scorpius-nav"></a></td></tr>
            <tr><td><a href="#argo" class="nav-button"><img src="https://suberic.net/~dmm/astro/img/calli/double/ArgoNavis.png" class="nav-icon" alt="crux" id="argo-navis-nav"></a></td></tr>
        </table>
    </div>

    <!-- title section -->
    <div id="title">
        <h1 id="s0">Constellation Quiz</h1>
        <p>Let's learn about constellations.</p>
        <p>Scroll down to find out more!</p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>

    <!-- intro section -->
    <div id="section-intro">
        <div class="col-sm-12">
            <div class="centered">
                <h2 id="intro">
                    Constellations, what are they?
                </h2>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="constellation-text">
                <p>
                    Throughout history, cultures have represented their beliefs, experiences, and mythologies in the night sky. The International Astronomical Union accepts a list of 88 constellations, derived from the 48 traditional Greek constellations, although many cultures have entirely different astronomical distinctions. Some constellations are widely recognised, some are unique to a single place. Most prominent constellations have meanings across many cultures. Before the invention of satellite positioning systems, or the widespread use of the compass, constellations have been used for navigation, particularly in sailing.
                    <br><br>
                    It is worth covering some terminology:
                    <br>The 'zodiac' is an area of the sky extending +-8° North or South in celestial latitude of the 'eliptic' - the apparent path of the sun across the celestial sphere over the course of the year. The zodiac is divided into the twelve commonly known constellations.
                    <br>An 'asterism' is any recognisable celestial grouping that isn't an official constellation. For example, Orion's belt is an asterism.
                    <br>A constellation's 'zenith' is the time/place when it is highest in the sky.
                    <br><br>
                    Now, let's look at some constellations:
                    <br><br><br><br><br><br>
                </p>
            </div>
        </div>
    </div>

    <!-- crux section -->
    <div id="section-crux">
        <div class="col-sm-12" id="section1">
            <div class="centered">
                <h2 id="cru">
                    CRUX
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        This is a one of the most popular constellations in the southern skies. Its name is derived from the Latin word: Cross, and it is the smallest of the 88 modern constellations. Being such an iconic constellation, it is found among many international cultures, and is found on the Australian, New Zealand, Brazilian, Papua New Guinean, and Samoan flags. Crux was commonly used in navigation to find the way South.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="hover-me"> <span class="glyphicon glyphicon-arrow-down"></span> Hover over me! <span class="glyphicon glyphicon-arrow-down"></span> </p>
                <div class="constellation-image">
                    <div class="fading-img" style="margin-top: 0px;" id="cru-img"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- aquarius section -->
    <div id="section-aquarius">
        <div class="col-sm-12" id="section2">
            <div class="centered">
                <h2 id="aqr">
                    AQUARIUS
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="constellation-image">
                    <div class="fading-img" style="margin-top: 0px;" id="aqr-img"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        Aquarius is a constellation of the zodiac, and its Latin translation is cupbearer. In ancient Babylonian culture, the constellation is “The Great One”, the god Ea. He is seen as holding an overflowing vase of water. The ancient god was associated with heavy flooding in the Babylonian culture, and attributed as the one who starts spring, by placing his vase into the River Nile, and creating an annual flood.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- orion, canis major, taurus section -->
    <div id="section-orion-canis-major-taurus">
        <div class="col-sm-12">
            <div class="centered">
                <h2 id="ori-cma-tau">
                    ORION, CANIS MAJOR & TAURUS
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>The Hunter...</p>
                <div class="constellation-image">
                    <div class="fading-img"  id="ori-img"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>...The Hound...</p>
                <div class="constellation-image">
                    <div class="fading-img" id="cma-img"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>...And the Bull</p>
                <div class="constellation-image">
                    <div class="fading-img" id="tau-img"></div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="constellation-text">
                    <p>
                        Perhaps the easiest to find constellation in the night sky is that of Orion. The representation of this constellation is often that of Orion himself, a superhuman giant hunter, son of Poseidon, who threated to kill all the animals of Earth. The myth recounts the goddess Gaia in fury at Orion’s claim, and tried to kill him with a scorpion. According to legend, this is why the constellation of Scorpius and Orion can never be seen at once in the night sky.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="constellation-text">
                    <p>
                        In Greek mythology, Canis Major is Laelaps, the fastest dog in the world that will catch anything. It represents the larger of Orion's two hunting dogs, chasing Lepus the hare or helping Orion fight Taurus the bull.
                        <br><br>
                        The constellation can be found by taking Orion's belt and stretching an imaginary line through it, down and to the left. This will locate Sirius, the brightest star in the sky and home to Canis Major.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="constellation-text">
                    <p>
                        In the Babylonian Epic of Gilgamesh, the Goddess Ishtar sends Taurus, the Bull of Heaven, to Kill Gilgamesh. Gilgamesh is Orion, and faces Taurus as if in combat.
                        <br><br>
                        The identification of Taurus as a bull is incredibly old and universal, dating back to the Chalcolithic, possibly even the Upper Paleolithic. Taurus contains the Pleiades, known as the 'Seven Sisters' in the languages of many indigenous cultures, including those of Australia, North America, and Siberia. This means that this constellation has been identified by a common ancient origin.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- cantaurus, lupus section -->
    <div id="section-centaurus-lupus">
        <div class="col-sm-12">
            <div class="centered">
                <h2 id="cen-lup">
                    CENTAURUS & LUPUS
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="constellation-image">
                    <div class="fading-img" style="margin-top: 0px;" id="cen-img"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        Centaurus is one of the largest constellations in the sky. The constellation is Chiron the Centaur, a tutor to many Greek heroes, including Heracles, Theseus and Jason. It was formerly known as 'Bison-Man' to the Babylonians, associated with the Sun God Utu-Samash.
                        <br><br>
                        Centaurus is home to Alpha, Beta and Proxima Centuari. Alpha Centuari is the closest star system to our sun, and the third brightest star in the sky, making Centaurus easy to see.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        Lupus is the wolf, hunted by Centaurus.
                        <br><br>
                        In 1006 AD, within Lupus, the supernova SN 1006 occurred. This is the brightest stellar event in recorded history, and would have been clearly visible during daytime.
                        <br><br>
                        Lupus is located in the third quadrant of the southern hemisphere (SQ3) and can be seen at latitudes between +35° and -90°.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="constellation-image">
                    <div class="fading-img" id="lup-img"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- sagittarius, scorpius section -->
    <div id="section-sagittarius-scorpius">
        <div class="col-sm-12">
                <div class="centered">
                    <h2 id="sgr-sco">
                        SAGITTARIUS & SCORPIUS
                    </h2>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="constellation-image">
                    <div class="fading-img" id="sgr-img"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        The bow of Sagittarius stands poised towards the star Antares, the heart of Scorpius, if it should ever attack Hercules. Sagittarius is represented in Greek mythology as Chiron, tutor of Jason, and Crotus, the inventor of archery. Sagittarius is Latin for 'archer' and one of the 12 Zodiac.
                        <br><br>
                        In 1977, the Big Ear radio telescope observed a strong narrowband radio signal from within Sagittarius. The 'Wow!' signal 
                        has been used to support the search for extraterrestrial intelligence, and remains the strongest candidate for an alien radio transmissed ever detected.
                        <br><br>
                        Sagittarius is near the densest spot of the Milky Way, the galactic center. Because of this, Sagittarius is home to many star clusters and nebulae. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="constellation-text">
                    <p>
                        Scorpius is the scorpion sent to kill Orion the hunter. In Greek mythology, it is a reminder for mortals to be mindful of their hubris.
                        <br><br>
                        It is also known as: Banyakangrem (the Brooded Swan) or Kalapa Doyong (Leaning Coconut Tree) to the Javanese; Ka Makau Nui o Māui (the Big Fishhook of Māui), fishhook of the Demigod Māui, in Hawaii.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="constellation-image">
                    <div class="fading-img" id="sco-img"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- argo navis section -->
    <div id="section-argo-navis">
        <div class="col-sm-12">
            <div class="centered">
                <h2 id="argo">
                    THE ARGO NAVIS
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>The Hull...</p>
                <div class="constellation-image">
                    <div class="fading-img" id="car-img"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>...The Sails...</p>
                <div class="constellation-image">
                    <div class="fading-img" id="vel-img"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>...And the Poop Deck</p>
                <div class="constellation-image">
                    <div class="fading-img" id="pup-img"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="constellation-text">
                    <p>
                        The Argo Navis is a ship that appears to sail down the 'river of the Milky Way'; Sailed by Jason and the Argonauts to Colchis in search of the Golden Fleece. The Argo Navis was by far the largest constellation before it was divided by Nicolas Louis de Lacille into the three modern constellations: Carina (the hull), Vela (the sails), and Puppis (the poop deck). 
                        <br><br>
                        Also known as: 'the Boat' to the Vedic; and Te Waka-o-Tamarereti (the canoe of Tamarereti) to the Māori. All the stars of the Argo Navis are visible from the tropics Southward, with the zenith at Southern temperate latitudes. The brightest of the ship's stars is Canopus, the second brightest star in the sky.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- quiz button -->
    <div class="row" style="margin-top: 200px; margin-bottom: 100px;">
        <div class="col-sm-12">
            {% if current_user.is_anonymous %}
            <a href="/login"><button class="buttons" style="padding: 12px 20px; font-size: 22px;">Please Login to try the Quiz.  <span class="glyphicon glyphicon-log-in"></span> </button></a>
            {% else %}
            <p> <a href="/quiz"><button class="buttons" style="padding: 12px 30px; font-size: 25px;"> Take the Constelattion Quiz! <span class="glyphicon glyphicon-paste"></span></button></a></p> <br>
            {% endif %}
        </div>
    </div>

</body>
</html>