<!DOCTYPE html>

<html>
<head>
    <title>Constellation Quiz</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!--Custom CSS designed by group-->
    <!--use below for testing html w/o flask-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!--use below for flask-->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

</head>

<body>
    <div style="font-size:larger">
        <!-- STYLE THE BUTTONS LATER-->
        {% if current_user.is_anonymous %}
        <a href="/login"><button>LOGIN</button></a>
        {% else %}
        <a href="/logout"><button>LOGOUT</button></a>
        {% endif %}
    </div>
    <div class="nav-bar">
        <table>
            <tr><td><a href="#intro" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section1" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section2" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#section3" class="nav-button">&#11044;</a></td></tr>
            <tr><td><a href="#quiz" class="nav-button">&#11044;</a></td></tr>
        </table>
    </div>

    <div class="page-title" id="intro">
        <h1>Constellation Quiz</h1>
        <p>Let's learn about constellations.</p>
        <p>Scroll down to find out more!</p>
        <p><span class="glyphicon glyphicon-arrow-down"></span></p>
    </div>


    <div class="overview" id="section1">
        <div class="centered">
            <h2>
                CRUX
            </h2>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="constellation-text">
                <p>
                    This is a one of the most popular constellations in the southern skies. Its name is derived from the Latin word: Cross,
                     and it is the smallest of the 88 modern constellations. Being such an iconic constellation, it is found among many international cultures,
                      and is found on the Australian, New Zealand, Brazilian, Papua new Guinean, and Samoan Flags. Before the invention of satellite positioning systems, 
                      or widespread use of the compass, this constellation was used, particularly in sailing, to find the way south.
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="fading-img" id="cru-img"></div>
        </div>
    </div>

    <div class="overview" id="section2">
            <div class="centered">
                <h2>
                    AQUARIUS
                </h2>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="constellation-image">
                <div class="fading-img" id="aqr-img"></div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="constellation-text">
                <p>
                    This is a constellation of the zodiac (a constellation which appear +-8 degrees from the apparent path of the sun), and its Latin translation is cupbearer. 
                    In ancient Babylonian culture, the constellation depicts “The Great One”, which represents the god Ea. He is seen as holding an overflowing vase of water. 
                    The ancient god was associated with heavy flooding in the Babylonian culture, and attributed as the one who starts spring, by placing his vase into the River Nile, 
                    and creating an annual flood.
                </p>
            </div>
        </div>
    </div>



    <div class="overview" id="section3">
        <div class="centered">
            <h2>
                ORION
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="constellation-text">
                <p>
                    Perhaps the easiest to find constellation in the night sky is that of Orion. The representation of this constellation is often that of Orion himself, 
                    god of Poseidon, a superhuman giant hunter, who threated to kill all the animals of Earth. The myth recounts the goddess Gaia in fury at Orion’s claim,
                     and tried to kill him with a scorpion. According to legend, this reason is why the constellation of Scorpius and Orion can never be seen at once in the night sky.
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="constellation-image">
                <div class="fading-img" id="ori-img"></div>
            </div>
        </div>
    </div>
</body>
</html>