<!DOCTYPE html>
<html>
    <head>
        
        <!-- CSS File-->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

        <!-- Our script file-->
        <script src="constelattion.js"></script> 

        <title> Login Page </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body style="background: rgb(28,29,47);">
        <div class="container">
            <p style="margin-top: 50px;"> <a href="/"><button class="buttons">Click here to go back to start</button></a></p> <br>

            <br> <br>

            <h1> Login: </h1> <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="support-text">
                    {{ form.username.label }}
                    {{ form.username(size=32) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="support-text">
                    {{ form.password.label }}
                    {{ form.password(size=32) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p class="support-text" style="cursor: pointer;">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <br> <br> <p>{{ form.submit() }}</p> <br> <br>
                <p class="support-text">New User? <a href="{{ url_for('register') }}"><button class="buttons">Click to Register! ></button></a></p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </body>
</html>
