<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Login Page </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h1> Login: </h1>
            <p> <a href="/">Click here to go back to start</a></p>
            <form action="" method="post">
                <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
