<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ user.username }}'s' Profile
        </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!--Custom CSS designed by group-->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Plotly.JS Library for drawing graphs-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body style="background: rgb(28,29,47);">

        <p style="margin-top: 30px;">
            <a href="/"><button class="buttons">Go back Home  <span class="glyphicon glyphicon-home"></span></button></a>
            <a href="/quiz"><button class="buttons">Take the Quiz!  <span class="glyphicon glyphicon-paste"></span></button></a>
            <a href="/logout"><button class="buttons" style="margin-top: 20px;">Logout  <span class="glyphicon glyphicon-log-out"></span></button></a>
        </p>

        <h1 style="margin-top: 100px;"> User: {{ user.username }}</h1>
        <br>

        <h2 style="padding-bottom: 20px;">
            User Graph:
        </h2>
        <div id="results" style="width:600px;height:300px;margin:auto;"></div> <br> <br>

        <h2 style="padding-bottom: 10px;">
            Attempts:
        </h2> <br>


        <p> 
            {% set a = [1] %}
            {% for s in scores %}
            {% if s.body ==  'Have not attempted the quiz' %}
                <p>
                    Complete the Quiz to see Quiz history and see Quiz Results Graph!
                </p>
            {% else %}
                <p class="attempt">
                Attempt {{ a[0] }}: {{ s.body }}</b>
                </p>
            {% endif %}
            {% if a.append(a.pop() + 1) %}{% endif %}
            {% endfor %}
        
        </p>
        
        
        <!-- Script for extracting and processing score/attempt data, and drawing a graph-->
        <script>
            let scores = [];
            let attempts = [];
            let elements = document.getElementsByClassName("attempt");

            // Hide graph if there are no results
            if (elements.length < 1){
                $('#results').hide();
            } else {
                $('#results').show();
            }

            for (var i = 0; i < elements.length; i++) {
                let attempt = elements[i].innerHTML;
                words = attempt.split(' ')
                attempts.push( parseInt( words[17].slice(0, -1) ) )
                scores.push( parseInt( words[18].slice(0, -4) ) )
            }

            RESULTS = document.getElementById('results');
            layo = {
                'layout': {
                    paper_bgcolor : "rgba(0,0,0,0)",
                    title : 'Quiz Results',
                    plot_bgcolor : "rgba(0,0,0,0)",
                    font : {
                        color : '#FFFFFF',
                        size : 18
                    },
                    xaxis : {
                        title : {
                            text : 'attempts',
                            font : {
                                size : 13
                            }
                        }
                    },
                    yaxis : {
                        title : {
                            text : 'scores',
                            font : {
                                size : 13
                            }
                        }
                    }
                    
                }
            }
            Plotly.newPlot( 
            RESULTS, [
            { y: scores, x: attempts }], 
            layo.layout);
        </script>
    </body>
</html>