<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ user.username }}'s' Profile
        </title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!--Custom CSS designed by group-->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    </head>
    <body style="background: rgb(28,29,47);">
        <h1 style="margin-top: 100px;"> User: {{ user.username }}</h1>
        <br>
        <p>
            Latest Score: <b>{{ score.score }}
        </p>

        <p style="margin-top: 50px;"> <a href="/"><button class="buttons">Go back Home  <span class="glyphicon glyphicon-home"></span></button></a></p>
        <p> <a href="/quiz"><button class="buttons">Take the Quiz!  <span class="glyphicon glyphicon-paste"></span></button></a></button></a></p> <br>
        <a href="/logout"><button class="buttons" style="margin-top: 20px;">LOGOUT  <span class="glyphicon glyphicon-log-out"></span></button></a></span>

    </body>
</html>