<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!--Custom CSS designed by group-->
        <!--use below for flask-->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            input, select, textarea{
                color: #000;
            }

            textarea:focus, input:focus {
                color: #000;
            }
        </style>
    </head>
    <body style="background: rgb(28,29,47);">
        <div class="quiz" id="quiz">

            <p style="margin-top: 50px;"> <a href="/"><button class="buttons">Go back Home</button></a></p> <br>

            <div class="quiz-title">
                <h1 style="margin: 50px 0px 50px 0px;">
                    QUIZ
                </h1>
            </div>
            <div class="question">
                <h2 style="padding: 10px;">
                    This will test you on the skills you have learnt about constelattions! 
                </h2>
            </div>
            <form action="" method="post" novalidate>
                    {{ quizform.hidden_tag() }}

                    <br>
                    <h3> Constellation Identification Questions</h3>
                    <br>

                    <img src="https://in-the-sky.org/images/constellations/con_CRU_001.png" alt="Question1">
                    <p id="quiz-question1" class="quiz-question">
                        {{ quizform.question1.label }} <br>
                        {{ quizform.question1(size=32) }} <br>
                        {% for error in quizform.question1.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <img src="https://in-the-sky.org/images/constellations/con_AQR_001.png" alt="Question1">
                    <p id="quiz-question2" class="quiz-question">
                        {{ quizform.question2.label }} <br>
                        {{ quizform.question2(size=32) }} <br>
                        {% for error in quizform.question2.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <img src="https://in-the-sky.org/images/constellations/con_SCO_001.png" alt="Question1">
                    <p id="quiz-question3" class="quiz-question">
                        {{ quizform.question3.label }} <br>
                        {{ quizform.question3(size=32) }} <br>
                        {% for error in quizform.question3.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <img src="https://in-the-sky.org/images/constellations/con_SGR_001.png" alt="Question1">
                    <p id="quiz-question4" class="quiz-question">
                        {{ quizform.question4.label }} <br>
                        {{ quizform.question4(size=32) }} <br>
                        {% for error in quizform.question4.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <img src="https://in-the-sky.org/images/constellations/con_CEN_001.png" alt="Question1">
                    <p id="quiz-question5" class="quiz-question">
                        {{ quizform.question5.label }} <br>
                        {{ quizform.question5(size=32) }} <br>
                        {% for error in quizform.question5.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <br>
                    <h3> Constelattion Theory Questions</h3>
                    <br>

                    <p id="quiz-question6" class="quiz-question">
                        {{ quizform.question6.label }} <br>
                        {{ quizform.question6(size=32) }} <br>
                        {% for error in quizform.question6.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p id="quiz-question7" class="quiz-question">
                        {{ quizform.question7.label }} <br>
                        {{ quizform.question7(size=32) }} <br>
                        {% for error in quizform.question7.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p id="quiz-question8" class="quiz-question">
                        {{ quizform.question8.label }} <br>
                        {{ quizform.question8(size=32) }} <br>
                        {% for error in quizform.question8.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p id="quiz-question9" class="quiz-question">
                        {{ quizform.question9.label }} <br>
                        {{ quizform.question9(size=32) }} <br>
                        {% for error in quizform.question9.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p id="quiz-question10" class="quiz-question">
                        {{ quizform.question10.label }} <br>
                        {{ quizform.question10(size=32) }} <br>
                        {% for error in quizform.question10.errors %}
                        <span style="color: yellow;font-size: 25px;">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <br> <br> <p>{{ quizform.submit() }}</p> <br> <br>
                </form>


        </div>
    </body>


</html>
