<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            User Register
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

        <!-- Our script file-->
        <script src="{{ url_for('static', filename='constellation.js') }}"></script>
        
        <!-- Password Checker Script-->
        <script>

            $(document).ready(function(){

                $("#password-strength").hide();

                $("#password").keyup(function() {
                    
                    $("#password-strength").show();

                    let password = $("#password").val()

                    let strength = passwordStrengthChecker(password);
                    
                    if (strength <= 1) {
                        $("#password-strength").html("Your password strength is: <span style=\"color: darkred;\">very weak!</span>");
                    } else if (strength == 2){
                        $("#password-strength").html("Your password strength is: <span style=\"color: red;\">weak.</span>");
                    } else if (strength == 3){
                        $("#password-strength").html("Your password strength is: <span style=\"color: gold;\">passable.</span>");
                    } else if (strength == 4){
                        $("#password-strength").html("Your password strength is: <span style=\"color: green;\">strong.</span>");
                    } else if (strength == 5){
                        $("#password-strength").html("Your password strength is: <span style=\"color: darkgreen;\">very strong!</span>");
                    } else {
                        $("#password-strength").html("Your password strength is: <span style=\"color: lightblue;\">not working...</span>  strength-value: " + strength);
                    }

                });
            }); 

        </script>
    </head>

    <body style="background: rgb(28,29,47);">

        <p style="margin-top: 50px;"> <a href="/"><button class="buttons">Go back Home </button></a></p> <br>
        <br> <br>


        <h1>Register </h1> <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p class="support-text">
                {{ form.username.label }}
                {{ form.username(size=30) }} <br>
                {% for error in form.username.errors %}
                <span style="color: red;font-size: small;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="support-text">
                {{ form.password.label }}
                {{ form.password(size=30) }} <br>
                {% for error in form.password.errors %}
                <span style="color: red;font-size: small;">{{ error }}</span>
                {% endfor %}
            </p>
            <p class="support-text">
                {{ form.password2.label }}
                {{ form.password2(size=30) }} <br>
                {% for error in form.password2.errors %}
                <span style="color: red;font-size: small;">{{ error }}</span>
                {% endfor %}
            </p>
            <br><br>

            <p id="password-strength" class="support-text"></p>
            <p>{{ form.submit() }}</p>

        </form>
        <p class="support-text">Already have an account? <a href="{{ url_for('login') }}"><button class="buttons">Click to Login! ></button></a></p>
    </body>
</html>